/* 
hero-carousel-area-brick
*/

/* body .custom-hero-textbox {
    padding: 40px;
}

@media screen and (min-width: 1024px) {

    body .custom-hero-textbox {
        padding: 80px;
    }

} */

/*
mainNavigation
*/

/* body .custom-quicklinks-button {
    background: green;
} */